 /* html {
    background-color: blue;
  }
  
  body {
    background-color: red;
  }  */

  .great{
    color: #64dd17;
    font-weight:bold;
  }

  .good{
    color: #ffc400;
    font-weight:bold;
  }

  .bad{
    color: #e53935;
    font-weight:bold;
  }

  .container{
    width: 80%;
  }
/* 
  table.baka{
    background-color:#e53935 !important;
  } */

