 /* html {
    background-color: blue;
  }
  */
  /* body {
    background-color: red;
  }   */

  .great{
    color: #64dd17;
    font-weight:bold;
  }

  .good{
    color: #ffc400;
    font-weight:bold;
  }

  .bad{
    color: #e53935;
    font-weight:bold;
  }

  .notAvailable{
    color: #bdbdbd;
    font-weight: bold;
  }

  .container{
    width: 85%;
  }

.pagination li.active{
  background-color: #00bcd4 ;
}
/* 
.brand-logo {
  padding-left: 12px !important;
} */

.score-range{
  width: 70px !important;
  text-align: center !important;
}

.review-input{
  width: 300px !important;
}
.title-input{
  width: 300px !important;
}

