{% load static %}


<!DOCTYPE html>
<html>
   <head>
      <title>Game Review Send Email</title>
      <link rel="stylesheet" href="{% static 'style.css' %}" />

      {% block css %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
      {% endblock css %}
   </head>
   <body>
      <center>
         <h1 class = 'alert alert-success'>Game Review Scraper</h1>
         <h3 class="p-3 mb-2 bg-primary text-white" style = 'font-size: 50px;'>Email Form
         </h3>
         <form method="POST">
            <!-- Very Important csrf Token -->
            {% csrf_token %}
            <div class = "form-group">
               <p>
                  <!-- <h3>{{ form.as_p }}</h3> -->
                  {% load materializecss %}
               <h3> {{ form|materializecss:'col s12'}} </h3>
               </p>
               <br>
               <input type="submit" name="Subscribe" class = 'btn btn-primary btn-lg'>
            </div>
         </form>
         <!-- <p>
            {% for reviews in link %}
            {{ review.title}}
            {{ review.developer }}
            {% endfor %}
         </p> -->
      </center>
      <div class="row">
         <table>
             <tbody>
                 {% for review in link %}
                 <tr>
                     <td>
                         <a href="{{ review.link }}">{{ review.title }}</a>
                     </td>
                     <td>
                         <p>
                            {% if review.website == 'Steam' %} 
                                {% if review.steamReview == "Very Positive" or review.steamReview == "Overwhelmingly Positive" %}
                                    <div class="score great"> 
                                {% elif review.steamReview == "Mostly Positive" or review.steamReview == "Positive" %}
                                    <div class ="score good">
                                {% else %}
                                    <div class = "score bad">
                                {% endif %}
                                {{ review.steamReview }}
                            {% else %}
                                {% if review.score >=  8 %} 
                                    <div class="score great"> 
                                {% elif review.score <= 8 and review.score >= 7 %}
                                    <div class="score good"> 
                                {% else %}
                                    <div class="score bad "> 
                                {% endif %}
                                {{ review.score }}
                           {% endif %}

                           </div>
                         </p>
                     </td>
                     <td>
                         <p>
                             Consoles: {{ review.consoles }}
                         </p>
                     </td>
                     <td>
                         <p>
                             Released: {{ review.releaseDate }}
                         </p>
                     </td>
                     <td>
                        <p>
                            Developer: {{ review.developer }}
                        </p>
                    </td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
     
   </body>
</html>